.git
.turbo
.next
node_modules
**/node_modules
**/.next
**/dist

.env
.env.*
!.env.example

/storage
/backups
/docker-data
/postgres_data
/redis_data
/opensearch_data
/minio_data
D:/CORE-Analytics-storage

.venv*
.python_env
.python_packages
__pycache__
*.pyc

*.log
*.tmp
.tmp-*
.vscode
